{% extends '../base.html' %}

{% block content %}
    <div>The file should have the following format:
        <ul>
            <li>simple sentence</li>
            <li>source of simple sentence</li>
            <li> boolean value whether the simple and complex sentences are comparable</li>
            <li>level of the simple sentence</li>
            <li>complex sentence</li>
            <li>source of complex sentence</li>
            <li>domain of the pair</li>
            <li>details regarding the alignment</li>
        </ul>
    </div>
    <form method="post" enctype="multipart/form-data" >{% csrf_token %}
        {{ form.errors }}
        {{ form_upload }}
        <p>
            <button type="submit">Upload and assign</button>
        </p>
    </form>
    {% if data_inserted %}
        Manual alignments successfully uploaded.
    {% endif %}
{% endblock %}