{% extends '../base.html' %}

{% block content %}
    <div class="row subpage_header">
        <div class="col-md-12">
            <h2>Report Sentence Problem</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 subpage_content">
            <h3>Sentence:</h3> {{ sentence_content }}
            <form method="post" enctype="multipart/form-data" >{% csrf_token %}
                {{ form.errors }}
                {{ form.as_p }}
                <p>
                    <button type="submit">Save</button>
                </p>
            </form>
        </div>
    </div>
{% endblock %}