django
django-crispy-forms
pandas
scikit-learn
nltk
django-tables2
django-sortable
sortable
requests
bs4
spacy==2.3.7
lxml
django-multiupload
uwsgi
psycopg2
statsmodels
django-modeltranslation
transformers
torch
spacy-alignments
spacy-transformers
tokenizers