<div class="row">
    <div class="col-md-12">
        <h4>Notes: </h4>
        <p>
            The following buttons support the alignment:
        </p>
        <ul>
            <li><i class="fas fa-edit"></i>: Edit alignment of current sentence.</li>
            <li><i class="fas fa-bug"></i>: Report a problem with the current sentence.</li>
            <li><i class="fas fa-wand-magic-sparkles"></i>: Find most similar sentences of the current sentence. If the first item does not fit, try to click again for the next most similar sentence.</li>
        </ul>
    </div>
</div>