{% extends '../base.html' %}

{% block content %}

    <div class="row subclass-header">
        <div class="col-md-12">
            <h2> Change Alignment</h2>
        </div>
    </div>
    <div class="row error_log">
        <p class="error_form">
            {{ form.errors }}
        </p>
    </div>
    <div class="row subpage content">
        <div class="col-md-12">
            <form method="POST" class="alignment-form" action={% url 'alignment:change_alignment' doc_pair_id=doc_pair_id %}>{% csrf_token %}
                <div class="row">
                    <div class="col-md-6">
                        <b>Complex Document:</b>
                        {% if type == "add" or type == "edit"%}
                            <div class="scrollable-box">
                                {%  for sentence in complex_elements %}
                                        <div class="col-md-10 sentence-alignment">
                                            {% if sentence in complex_sents and sentence == last_complex_item %}
                                                <label class="btn btn-default align-sentence last_added"><input type="checkbox" value="{{ sentence.id }}" name="complex_element" checked autofocus> {{ sentence.original_content }}</label>
                                            {% elif sentence in complex_sents and sentence == last_complex_item and complex_language_direction == "rtl" %}
                                                <label class="btn btn-default align-sentence last_added" dir="rtl" style="text-align: right"><input type="checkbox" value="{{ sentence.id }}" name="complex_element" checked autofocus> {{ sentence.original_content }}</label>
                                            {% elif sentence in complex_sents %}
                                                <label class="btn btn-default align-sentence"><input type="checkbox" value="{{ sentence.id }}" name="complex_element" checked autofocus> {{ sentence.original_content }}</label>
                                            {% elif sentence in complex_sents and complex_language_direction == "rtl" %}
                                                <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right"><input type="checkbox" value="{{ sentence.id }}" name="complex_element" checked autofocus> {{ sentence.original_content }}</label>
                                            {% elif sentence.original_content in simple_sents_content %}
                                                <label class="btn btn-default align-sentence" disabled  title="The sentence is identical to a sentence of the simple document."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {% elif sentence.original_content in simple_sents_content and complex_language_direction == "rtl" %}
                                                <label class="btn btn-default align-sentence" disabled dir="rtl" style="text-align: right" title="The sentence is identical to a sentence of the simple document."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {%  elif sentence == last_complex_item and sentence in complex_annotated_sents %}
                                                <label class="btn btn-default align-sentence last_added" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {%  elif sentence == last_complex_item and sentence in complex_annotated_sents and complex_language_direction == "rtl" %}
                                                <label class="btn btn-default align-sentence last_added" dir="rtl" style="text-align: right" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {%  elif sentence in complex_annotated_sents %}
                                                <label class="btn btn-default align-sentence" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {%  elif sentence in complex_annotated_sents and complex_language_direction == "rtl" %}
                                                <label class="btn btn-default align-sentence" disabled dir="rtl" style="text-align: right" title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                            {% elif complex_language_direction == "rtl" %}                                                <label class="btn btn-default align-sentence"><input type="checkbox" value="{{ sentence.id }}" name="complex_element"> {{ sentence.original_content }}</label>
                                                <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right"><input type="checkbox" value="{{ sentence.id }}" name="complex_element"> {{ sentence.original_content }}</label>
                                            {% else %}
                                                <label class="btn btn-default align-sentence"><input type="checkbox" value="{{ sentence.id }}" name="complex_element"> {{ sentence.original_content }}</label>
                                            {% endif %}

                                            {% ifchanged sentence.paragraph_nr %}
                                                <hr class="paragraph-break">
                                            {% endifchanged %}
                                        </div>
                                        <div class="col-md-1 sentence-alignment" style="margin-left: 0.125em; padding-left: 0.125em;">
                                            {% if not sentence.malformed %}
                                                <button title="report problem with sentence" value="{{ sentence.id }}" name="sentence-problem"><i class="fas fa-bug"></i></button>
                                            {% else %}
                                                <button title="sentence already reported" name="sentence-problem" disabled><i class="fas fa-bug"></i></button>
                                            {% endif %}
                                        </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="scrollable-box">
                                {%  for sentence in complex_elements %}
                                    <div class="col-md-10 sentence-alignment">

                                    {% if complex_language_direction == "rtl" %}
                                        <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right" disabled>
                                    {% else %}
                                        <label class="btn btn-default align-sentence"  disabled>
                                    {% endif %}
                                        <input type="checkbox" value="{{ sentence.id }}" name="complex_element" disabled> {{ sentence.original_content }}</label>
                                    </div>
{#                                    <div class="col-md-1 sentence-alignment" style="margin-left: 0.125em; padding-left: 0.125em;">#}
{#                                        <button title="report problem with sentence" value="{{ sentence.id }}" name="sentence-problem" disabled><i class="fas fa-bug"></i></button>#}
{#                                    </div>#}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>

                    <div class="col-md-6">
                        <b>Simple Document:</b>
                        {% if type == "add" or type == "edit"%}
                            <div class="scrollable-box">
                                {%  for sentence in simple_elements %}
                                        <div class="col-md-10 sentence-alignment">
                                        {% if sentence == last_simple_item and sentence in simple_sents %}
                                            <label class="btn btn-default align-sentence last_added"><input type="checkbox" value="{{ sentence.id }}" name="simple_element" checked autofocus> {{ sentence.original_content }}</label>
                                        {% elif sentence == last_simple_item and sentence in simple_sents and simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence last_added" dir="rtl" style="text-align: right" ><input type="checkbox" value="{{ sentence.id }}" name="simple_element" checked autofocus> {{ sentence.original_content }}</label>
                                        {% elif sentence in simple_sents %}
                                            <label class="btn btn-default align-sentence"><input type="checkbox" value="{{ sentence.id }}" name="simple_element" checked autofocus> {{ sentence.original_content }}</label>
                                        {% elif sentence in simple_sents and simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right"><input type="checkbox" value="{{ sentence.id }}" name="simple_element" checked autofocus> {{ sentence.original_content }}</label>
                                        {% elif sentence.original_content in complex_sents_content %}
                                            <label class="btn btn-default align-sentence" disabled title="The sentence is identical to a sentence of the complex document."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {% elif sentence.original_content in complex_sents_content and simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right" disabled title="The sentence is identical to a sentence of the complex document."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {%  elif sentence == last_simple_item and sentence in simple_annotated_sents %}
                                            <label class="btn btn-default align-sentence last_added" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {%  elif sentence == last_simple_item and sentence in simple_annotated_sents and simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence last_added" dir="rtl" style="text-align: right" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {%  elif sentence in simple_annotated_sents %}
                                            <label class="btn btn-default align-sentence" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {%  elif sentence in simple_annotated_sents and simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right" disabled title="The sentence is already aligned."><input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}</label>
                                        {% elif simple_language_direction == "rtl" %}
                                            <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right"><input type="checkbox" value="{{ sentence.id }}" name="simple_element"> {{ sentence.original_content }}</label>
                                        {% else %}
                                            <label class="btn btn-default align-sentence"><input type="checkbox" value="{{ sentence.id }}" name="simple_element"> {{ sentence.original_content }}</label>
                                        {% endif %}

                                        {% ifchanged sentence.paragraph_nr %}
                                            <hr class="paragraph-break">
                                        {% endifchanged %}
                                    </div>
                                    <div class="col-md-1 sentence-alignment" style="margin-left: 0.125em; padding-left: 0.125em;">
                                        {% if not sentence.malformed %}
                                            <button title="report problem with sentence" value="{{ sentence.id }}" name="sentence-problem"><i class="fas fa-bug"></i></button>
                                        {% else %}
                                            <button title="sentence already reported" name="sentence-problem" disabled><i class="fas fa-bug"></i></button>
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                        {% else %}
                            <div class="scrollable-box">
                                {%  for sentence in simple_elements %}
                                    <div class="col-md-10 sentence-alignment">
                                    {% if simple_language_direction == "rtl" %}
                                        <label class="btn btn-default align-sentence" dir="rtl" style="text-align: right" disabled>
                                    {% else %}
                                        <label class="btn btn-default align-sentence"  disabled>
                                    {% endif %}
                                            <input type="checkbox" value="{{ sentence.id }}" name="simple_element" disabled> {{ sentence.original_content }}
                                        </label>
                                    </div>
{#                                    <div class="col-md-1 sentence-alignment" style="margin-left: 0.125em; padding-left: 0.125em;">#}
{#                                        <button title="report problem with sentence" value="{{ sentence.id }}" name="sentence-problem" disabled><i class="fas fa-bug"></i></button>#}
{#                                    </div>#}
                                {% endfor %}
                            </div>
                        {% endif %}
                    </div>
        {#        </div>#}
        {#        <div class="row">#}
                    <p class="text-source">
                        Text Source Complex Document: <a href="{{ doc_complex_url }}" title="link to source" target="_blank">{{ doc_complex_url }}</a> (Last accessed: {{ doc_complex_access_date }})
                        <br>
                        Text Source Simple Document: <a href="{{ doc_simple_url }}" title="link to source" target="_blank">{{ doc_simple_url }}</a> (Last accessed: {{ doc_simple_access_date }})
                    </p>

                </div>
                <div class="row scrollable-box">
                    <div class="col-md-12">

                        <hr style="width:100%;text-align:left;margin-left:0">
                        <b>List of aligned sentence pairs:</b>
                        <ul>
                        {% for pair in pairs %}
                            <li>
                                {{ pair.complex_elements.all.0.original_content|slice:15 }}...
                                &#x2194;
                                {{ pair.simple_elements.all.0.original_content|slice:15 }}...
                                <button class="btn btn-default" title="edit alignment of pair" type="submit" name="edit" value="{{ pair.id }}"><i class="fas fa-edit"></i> Edit</button>
                                <button class="btn btn-default" title="delete pair" type="submit" name="delete" value="{{ pair.id }}"><i class="fas fa-trash-alt"></i> Delete</button>
                                <button class="btn btn-default" title="rate pair" type="submit" name="rate" value="{{ pair.id }}"><i class="fas fa-balance-scale-left"></i> Rate</button>
                                <button class="btn btn-default" title="annotate transformations of pair" type="submit" name="transformation" value="{{ pair.id }}"><i class="fas fa-route"></i> Transformations</button>
                            </li>
                        {% endfor %}
                        </ul>
                    </div>
                </div>


                <div class="row">
                    <div class="col-md-12">
                        <hr style="width:100%;text-align:left;margin-left:0">
                        {% if type == "add" %}
                            <button class="btn btn-default" title="reset current alignment" type="submit" name="reset" value="reset"><i class="fas fa-undo-alt"></i> Reset</button>
                            <button class="btn btn-default" title="save alignment" type="submit" name="save" value="save"><i class="fas fa-save"></i> Save</button>
                        {% elif type == "edit" %}
                            <button class="btn btn-default" title="reset current alignment" type="submit" name="reset" value="reset"><i class="fas fa-undo-alt"></i> Reset</button>
                            <button class="btn btn-default" title="save edited alignment and delete previous rating and transformations" type="submit" name="save-edit" value="{{ pair_tmp_id }}"><i class="fas fa-save"></i> Save</button>
                        {% else %}
            {#              <button type="submit" class="save btn btn-default" value="rate" name="submit">Save & Rate</button>#}
                            <button class="btn btn-default" title="add new alignment" type="submit" name="add" value="new"><i class="fas fa-plus-circle"></i> Add</button>
                            {% if no_alignment_possible %}
                                <button class="btn btn-default" title="documents are possible to align" type="submit" name="not-possible" value="False"><i class="far fa-check-circle"></i> Possible to align</button>
                            {% else %}
                                <button class="btn btn-default" title="documents are not possible to align" type="submit" name="not-possible" value="True"><i class="fas fa-ban"></i> Not possible to align</button>
                            {% endif %}
                        {% endif %}
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script>
        console.log(document.getElementsByClassName("last_added"), document.getElementsByClassName("last_added")[0]);
        var i;
        var last_added_elements = document.getElementsByClassName("last_added");
        for (i = 0; i < last_added_elements.length; i++) {
          last_added_elements[i].scrollIntoView();
        }
    </script>
{% endblock %}