{% extends '../base.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <h1>Document Overview</h1>
    <div class="row">
        <div class="col-md-12">
        {% if error %}
            <p> {{ error }} </p>
        {% endif %}
        {% if success %}
            <p> {{ success }} </p>
        {% endif %}
        </div>
    </div>
    <h2>Align the sentences of the listed documents.</h2>
    <div class="row">
        <div class="col-md-12">
            show progress for each document
            <h3> Parallel Documents:</h3>
            <!--<form method="post">{% csrf_token %}-->
                <ul>
                    {%  for domain in domains %}
                        <li>
                            <a href="{% url 'overview' domain=domain %}" class="btn btn-default">Domain: {{ domain }}</a>
                        </li>
                        <ul>
                        {% for corpus in corpora %}
                            {% if corpus.domain == domain %}
                                    <li>
                                        <a href="{% url 'overview' domain=domain corpus=corpus.id %}" class="btn btn-default">Corpus: {{ corpus.name }}</a>
                                    <ul>
                                        {% for doc in documents %}
                                            <li>
                                                <a href="{% url 'overview_per_doc' doc_id=doc.id %}">
                                                    {{ doc.url }} {{ doc.parallel_document.url }}
                                                </a>
                                            </li>

                                        {% endfor %}
                                    </ul>
                                <br>
                            {% endif %}
                        {% endfor %}
                        </ul>
                    {% endfor %}
                </ul>
            <!--</form>-->
        </div>
    </div>
{% endblock %}