{% extends '../base.html' %}

{% block content %}
{% load crispy_forms_tags %}

    <h1>Document Overview</h1>
    <div class="row">
        <div class="col-md-12">
        {% if error %}
            <p> {{ error }} </p>
        {% endif %}
        {% if success %}
            <p> {{ success }} </p>
        {% endif %}
        </div>
    </div>
    <h2>Align the sentences of the listed documents.</h2>
    <div class="row">
        <div class="col-md-12">
            listed corpora with dropdown menu, inside are all simple (and complex documents)<br>
            show progress for each document
            <h3> Parallel Documents:</h3>
            <ul>
            {% for doc in documents %}
                {% if doc.parallel_document and doc.level in "a1,a2" %}
                    <li>
                        <a href="{% url 'alignment:change_alignment' doc_id=doc.id %}">
                            {{ doc.url }} {{ doc.parallel_document.url }}
                        </a>
                    </li>
                {% endif %}

            {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}