{% extends '../base.html' %}

{% block content %}
{% load crispy_forms_tags %}
{% load render_table from django_tables2 %}

    <h1>Alignment Pairs Overview</h1>
    <div class="row">
        <div class="col-md-12">
        {% if error %}
            <p> {{ error }} </p>
        {% endif %}
        {% if success %}
            <p> {{ success }} </p>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <!--<table border=1>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>grammaticality</td>
                        <td>meaning preservation</td>
                        <td>simplicity</td>
                        <td>certainty</td>
                        <td>transaction</td>
                        <td>domain</td>
                        <td>simple sentence</td>
                        <td>complex sentence</td>
                        <td></td>
                    </tr>
                </thead>
                <tbody>
                    {% for pair in pairs %}

                            <tr>
                                <td>
                                    <a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">{{ pair.pair_identifier }}</a>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.grammaticality }}
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.meaning_preservation }}
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.simplicity }}
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.certainty }}
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.transaction }}
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {{ pair.domain }}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for sentence in pair.simple_element.all %}
                                            {{ sentence.original_content }}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button class="btn-link" id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for sentence in pair.complex_element.all %}
                                            {{ sentence.original_content }}
                                        {% endfor %}
                                    </button>
                                </td>
                                <td>
                                    <button id="pair_id" name="pair_id" value="{{ pair.id }}" type="submit">
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                update
                                            {% else %}
                                            rate
                                            {% endif %}
                                        {% endfor %}
                                    </button>
                                </td>
                            </tr>
                        </form>
                    {% endfor %}
                </tbody>
            </table>-->
            {% render_table object_list %}
        </div>
    </div>
{% endblock %}