body {
  color: #193F2E;
}
.row {
  padding: 5pt;
}
table.likert, th.likert, td.likert {
  border: 1px solid black;
  border-spacing: 50px 10px;
  padding: 5px;
}

td.likert-radio {
  text-align: center;
}

.align-sentence {
  margin-bottom:4px;
  white-space: normal;
  text-align: left;
  width: 100%;
}

blockquote {
  background: #ECF6F2;
  border-left: 5px solid #C5E5D7;
}

input[type=checkbox][disabled]+label{
  color: darkgray;
}

.scrollable-box {
  overflow-y: auto;
  height: 200px;
}

.disabled-div {
  pointer-events:none;
  opacity: 0.4;
}

.page-header {
  text-align: center;
  background-color: #8ACBAE;
  padding: 1px 0;
  width: 100%;
}

a:link.headline, a:visited.headline, a:link:active.headline, a:visited:active.headline{
  color: #F5FFFA;
}

a:link {
  color: #428969;
}

a:visited {
  color: #50978B;
}

a:link:active {
  color: #337C5B;
}

a:visited:active{
  color: #337D7A;
}
.btn-default, .btn {
  background-color: #D8EEE4;
  color: #428969;
  /*color: #205c8f;*/
}
p.text-source {
  font-size: 9pt;
}

/*.btn-default:hover, .btn.hover {*/
/*  background-color: #B1DCC9;*/
/*}*/

/*table.likert {*/
/*  border-collapse: collapse;*/
/*  border-spacing:0 25px;*/
/*  padding: 15px;*/
/*}*/

.collapsible {
  background-color: #d4d4d4;
  color: #000000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  box-sizing: border-box;
  border-radius: 15px 15px 15px 15px;
  /*margin: 5px;*/
}

.active, .collapsible:hover {
  background-color: #bdbcbc;
}

.collapsible_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #dedddd;
}

.collapsible_subcontent {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.error_form {
  color: darkred;
}

.list-group-horizontal .list-group-item {
  display: inline-block;
}
.list-group-horizontal .list-group-item:focus {
  background-color: #41AADA !important;
  color:#fff;
  display: inline-block;
}
.list-group-horizontal .list-group-item {
  margin-bottom: 0;
  margin-left:-4px;
  margin-right: 0;
}
.list-group-horizontal .list-group-item:first-child {
  border-top-right-radius:0;
  border-bottom-left-radius:4px;
}
.list-group-horizontal .list-group-item:last-child {
  border-top-right-radius:4px;
  border-bottom-left-radius:0;
}
.form-check label {
  padding:.75rem 1.25rem;
  margin-bottom:0;
}
.form-check label input[type="checkbox"] {
  opacity:0;
}

hr {
  color: #193F2E;
}
.sidebar-nav {
  margin-left: 0.5em;
  padding-left: 0.5em;
}

.footer {
  /*vertical-align: bottom;*/
  /*bottom: 0;*/
  margin: 1em;
}

table.doc, th.doc, td.doc {
  border: 1px solid black;
  border-spacing: 50px 10px;
  padding: 5px;
}
table.corpus, th.corpus, td.corpus {
  border: 1px solid black;
  border-spacing: 50px 10px;
  padding: 5px;
}

hr.paragraph-break {
  margin: 10px;
}

.support-meta-data {
  background-color: rgba(138, 203, 174, 0.33);
}

div.meta-data-field {
    background-color: rgba(138, 203, 174, 0.65);
}

.copy-label {
  color: #428969;
}

.replace-label {
  color: #d79420;
}

.add-label {
  /*color: #099355;*/
  color: #205c8f;
}

.delete-label {
  color: #c56464;
}
