{% extends "../base.html" %}

{% block title %}Create an Account{% endblock %}
{% load crispy_forms_tags %}

{% block content %}
    <form method="POST" class="form-group">
	{% csrf_token %}
    <table class="form-check">
    {% for field in form %}
        {% if field.name != "username" and field.name != "password1" and field.name != "password2" %}
        <tr>
            <td>{{ field.help_text|safe }}</td>
            <td>{{ field.label_tag }}</td>
            <td>{{ field }}</td>
        </tr>
        {% else %}
            <tr>
                <td></td>
                <td>{{ field.label_tag }}</td>
                <td>{{ field }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td class="help-block">{{ field.help_text|safe }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
    <p>
	    <button type="submit" class="btn btn-default">Register</button>
    </p>
    </form>
{% endblock %}