{% load static %}
<html>
    <head>
        {% if title %}
            <title>{{ title }}</title>
        {% else %}
            <title>Text Simplification Alignment and Rating</title>
        {% endif %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
        <link rel="shortcut icon" type="image/png" style="max-height: 50%;max-width: 100%" href="{% static 'img/favicon.ico' %}"/>
    </head>
    <body>
        <div class="container-fluid">
            <div class="row header">
                <div class="page-header col-md-12">
                    <h1>
                        <a href="{% url 'home' %}" class="headline"><img style="height: 1.1em" src="{%  static 'img/text_simplification_logo_white.png'  %}" alt="text simplification logo"> Text Simplification Annotation Tool </a>
                    </h1>
                </div>
            </div>
            <div class="row main-content">
                <div class="col-md-2 navigation-div">
                    <h4>Navigation</h4>
                    <ul class="sidebar-nav">
                        {% if user.is_authenticated %}
                            <li>
                                <a href="{% url 'overview_all_corpora' %}">
{#                                <i class="fas fa-book"></i>#}
                                    <img class="fas" style="height: 1.1em; color: #8ACBAE" src="https://toppng.com/uploads/preview/book-shelf-icon-book-on-shelf-icon-11553457588j7kv5lb8si.png" alt="books on a shelf. based on icons of fontawesome.">
                                    Corpora Overview
                                </a>
                            </li>
                            {% if corpus_id %}
                                <li>
                                    <a href="{% url 'overview_per_corpus' corpus_id=corpus_id%}">
                                        <i class="fas fa-book"></i> Corpus Overview
                                    </a>
                                </li>
                            {% else %}
                                <i class="fas fa-book"></i> Corpus Overview
                            {% endif %}
                            {% if doc_pair_id %}
                                <li>
                                    <a href="{% url 'overview_per_doc' doc_pair_id=doc_pair_id %}">
                                        <i class="fas fa-file-alt"></i>
                                        Document Overview
                                    </a>
                                </li>
                                {% else %}
                                <li>
                                    <i class="fas fa-file-alt"></i>
                                    Document Overview
                                </li>
                            {% endif %}
                            <li>

                                <a href="{% url 'change_log:change_log' %}">
                                    <i class="fas fa-cogs"></i>
                                    Change Log
                                </a>
                            </li>
                            {% if user.is_superuser %}
                                <li>
                                    <a href="{% url 'data:insert_data' %}">
                                        <i class="fas fa-upload"></i>
                                        Data Upload
                                    </a>
                                </li>
                                <li>
                                    <a href="{% url 'evaluation:home' %}">
                                        <i class="fas fa-download"></i>
                                        Evaluation
                                    </a>
                                </li>
                            {% endif %}
{#                            <li><a href="{% url 'overview' %}">Rating</a></li>#}
{#                            <li><a href="{% url 'simplification:home' %}">Simplification</a></li>#}
{#                            <li>User: {{ user.get_username }}</li>#}
                            <li>
                                <a href="{% url 'accounts:logout'%}?next={{request.path}}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Logout ({{ user.get_username }})
                                </a>
                            </li>
                        {% else %}
                            <li>
                                <a href="{% url 'accounts:login'%}?next={{request.path}}">
                                    <i class="fas fa-sign-out-alt"></i>
                                    Login
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-10 content-div">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
            <div class="row footer">
                <div class="col-md-12" style="text-align: center">
                    &copy; 2021
                    <a target="_blank" title="Link to the website of Regina Stodden" href="https://user.phil.hhu.de/~stodden/">Regina Stodden</a>
                    <br>
                    <a href="https://www.hhu.de/datenschutzerklaerung" title="Link to Privacy Statement" target="_blank">Privacy Statement</a>
                </div>
            </div>
        </div>
    </body>
</html>