{% load static %}
<html>
    <head>
        <title>Text Simplification Alignment and Rating</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="page-header">
                    <h1>
                        <a href="{% url 'home' %}" class="headline"><i class="fas fa-book-reader"></i> Text Simplification Annotation Tool </a>
                    </h1>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1">
                    <ul class="sidebar-nav">
                        {% if user.is_authenticated %}
                            <li><a href="{% url 'overview' %}">Alignment</a></li>
                            {% if user.is_superuser %}
                                <li><a href="{% url 'data:home' %}">Data</a></li>
                                <li><a href="{% url 'evaluation:home' %}">Evaluation</a></li>
                            {% endif %}
{#                            <li><a href="{% url 'overview' %}">Rating</a></li>#}
{#                            <li><a href="{% url 'simplification:home' %}">Simplification</a></li>#}
                            <li>User: {{ user.get_username }}</li>
                            <li><a href="{% url 'accounts:logout'%}?next={{request.path}}">Logout</a></li>
                        {% else %}
                            <li><a href="{% url 'accounts:login'%}?next={{request.path}}">Login</a></li>
                        {% endif %}
                    </ul>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-10">
                {% block content %}
                {% endblock %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12" style="text-align: center">
                    <a href="https://www.hhu.de/datenschutzerklaerung" title="Link to Privacy Statement">Privacy Statement</a>
                </div>
            </div>
        </div>
    </body>
</html>