{% load static %}
<html>
    <head>
        <title>Text Simplification Alignment and Rating</title>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    </head>
    <body>
        <div class="content container">
            <div class="row">
                <div class="col-md-12">
                {% block content %}
                {% endblock %}
                </div>
            </div>
        </div>
        <ul class="sidebar-nav">
            {% if user.is_authenticated %}
                <li><a href="{% url 'overview' %}">Alignment</a></li>
                <li><a href="{% url 'data:home' %}">Data</a></li>
                <li><a href="{% url 'evaluation:home' %}">Evaluation</a></li>
                <li><a href="{% url 'overview' %}">Rating</a></li>
                <li><a href="{% url 'simplification:home' %}">Simplification</a></li>
                 <li>User: {{ user.get_username }}</li>
                 <li><a href="{% url 'accounts:logout'%}?next={{request.path}}">Logout</a></li>
            {% else %}
                <li><a href="{% url 'accounts:login'%}?next={{request.path}}">Login</a></li>
            {% endif %}
        </ul>
    </body>
</html>