{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-10" style="text-align: center">
            <div class="row">
                <p>Welcome to the text simplification annotation tool. </p>
                <p>You can find instructions on how to use the annotation guidelines including the annotation schema  <a href="https://github.com/rstodden/TS_annotation_tool/tree/master/annotation_schema" title="Link to annotation guidelines and schema">here</a>.</p>
            </div>
            <div class="row">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/n6oJofcNjw8" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
            <div class="row">
                <p>If you have any questions feel free to contact <a href="mailto:regina.stodden@hhu.de">Regina Stodden</a> </p>
            </div>


        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-4">
            <a href="https://github.com/rstodden/TS_annotation_tool">TS-anno</a> is a platform for text simplification corpora building provided by <a href="https://user.phil.hhu.de/~stodden/" title="Link to the website of Regina Stodden">Regina Stodden</a> and <a href="https://user.phil.hhu.de/kallmeyer/" title="Link to the website of Laura Kallmeyer">Laura Kallmeyer</a>. Only the respective operator of the annotation tool is responsible for the content.
        </div>
        <div class="col-md-5"></div>
    </div>

{% endblock %}