{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="col-md-12">
            <p>Welcome to the text simplification annotation tool. </p>
            <p>You can find instructions on how to use the annotation guidelines including the annotation schema  <a href="https://github.com/rstodden/TS_annotation_tool/tree/master/annotation_schema" title="Link to annotation guidelines and schema">here</a>.</p>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/NJpNdN5umNk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>If you have any questions feel free to contact <a type="email" href="mailto:regina.stodden@hhu.de">Regina Stodden</a> </p>

        </div>
    </div>

{% endblock %}