{% extends 'base.html' %}

{% block content %}
    <div class="row subpage-header">
        <div class="col-md-12">
            <h1>
                <i class="fas fa-file-alt"></i>
                Document Overview: {{ doc_title }}
            </h1>
        </div>
    </div>
    <div class="row subpage-content">
        <div class="col-md-12">
{#            <h2>Document: {{ doc_title }}</h2>#}
            <div class="row">
                <div class="col-md-12">
                    <a class="btn btn-default" href="{% url 'alignment:change_alignment' corpus_id=corpus_id doc_pair_id=doc_pair_id %}"><i class="fa-solid fa-arrow-right-arrow-left"></i> Continue Alignment</a><br>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <form method="POST" class="alignment-form" action={% url 'alignment:change_alignment' corpus_id=corpus_id doc_pair_id=doc_pair_id %}>{% csrf_token %}
                        <table class="doc">
                            <thead>
                            <tr>
                                <td class="doc">complex sentence</td>
                                <td class="doc">simple sentence</td>
                                <td class="doc">Rating</td>
                                <td class="doc">Transformation</td>
                                <td class="doc">Alignment</td>

                            </tr>
                            </thead>
                            <tbody>
                            {% for pair in alignments %}
                                <tr>
                                    <td class="doc">
                                        {% for sentence in pair.complex_elements.all %}
                                            {{ sentence.original_content|slice:50 }}
                                            {% if sentence.original_content|length > 50 %}
                                                ...
                                            {% endif %}
                                        {% endfor %}
                                    </td>

                                    <td class="doc">
                                        {% for sentence in pair.simple_elements.all %}
                                            {{ sentence.original_content|slice:50 }}
                                            {% if sentence.original_content|length > 50 %}
                                                [...]
                                            {% endif %}
                                        {% endfor %}
                                    </td>

                                    <td class="doc">
                                        {% if pair.rating.all %}
                                            <a href="{% url 'rating:rate_pair' corpus_id=corpus_id doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                                <i class="fas fa-edit"></i> edit
                                            </a>
                                        {% else %}
                                            <a href="{% url 'rating:rate_pair' corpus_id=corpus_id doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                                <i class="fas fa-plus-circle"></i> add
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="doc">
                                        {% if pair.transformation_of_pair.all %}
                                            <a href="{% url 'rating:select_transformation' corpus_id=corpus_id doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                                <i class="fas fa-edit"></i> edit
                                            </a>
                                        {% else %}
                                            <a href="{% url 'rating:select_transformation' corpus_id=corpus_id doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                                <i class="fas fa-plus-circle"></i> add
                                            </a>
                                        {% endif %}
                                    </td>
                                    <td class="doc">
                                        <a class="btn btn-default" title="edit alignment of pair" href="{% url 'alignment:edit_alignment' corpus_id=corpus_id doc_pair_id=doc_pair_id pair_id=pair.id %}"><i class="fas fa-edit"></i> edit </a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                {% if alignments.has_other_pages %}
                    <ul class="pagination">
                        {% if alignments.has_previous and alignments.previous_page_number != 0 %}
                            <li><a class="btn btn-default" href="?page=1" title="first page"><i class="fas fa-fast-backward"></i> First Pairs</a></li>
                        {% else %}
                            <li class="disabled"><span><i class="fas fa-fast-backward"></i></span></li>
                        {% endif %}
                        {% if alignments.has_previous %}
                            <li><a class="btn btn-default" href="?page={{ alignments.previous_page_number }}" title="previous page">
                                <i class="fas fa-backward"></i> Previous Pairs
                            </a></li>
                        {% else %}
                            <li class="disabled"><span><i class="fas fa-backward"></i></span></li>
                        {% endif %}
                        {% for i in alignments.paginator.page_range %}
                            <!--{% if forloop.counter < i|add:3 and forloop.counter < i|add:"-3" %}-->
                                {% if alignments.number == i %}
                                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                {% else %}
                                    <li><a href="?page={{ i }}" title="page {{ i }}">{{ i }}</a></li>
                                {% endif %}
                                <!--{% endif %}-->
                        {% endfor %}
                        {% if alignments.has_next %}
                            <li><a class="btn btn-default" href="?page={{ alignments.next_page_number }}" title="next page">
                                Next Pairs <i class="fas fa-forward"></i>
                            </a></li>
                        {% else %}
                            <li class="disabled"><span><i class="fas fa-forward"></i></span></li>
                        {% endif %}
                        {% if alignments.has_next and alignments.paginator.num_pages != alignments.next_page_number %}
                            <li><a class="btn btn-default" href="?page={{ alignments.paginator.num_pages }}" title="last page">
                                 Last Pairs <i class="fas fa-fast-forward"></i>
                            </a></li>
                            {% else %}
                            <li class="disabled"><span><i class="fas fa-fast-forward"></i></span></li>
                        {% endif %}
                    </ul>
                {% endif %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {% if prev_doc_pair_id %}
                        <a class="btn btn-default" href="{% url 'overview_per_doc' corpus_id=corpus_id doc_pair_id=prev_doc_pair_id %}"><i class="fas fa-arrow-circle-left"></i> Previous Document</a>
                    {% else %}
                        <a class="btn btn-default" disabled><i class="fas fa-arrow-circle-left"></i> Previous Document</a>
                    {% endif %}
                    {% if next_doc_pair_id %}
                        <a class="btn btn-default" href="{% url 'overview_per_doc' corpus_id=corpus_id doc_pair_id=next_doc_pair_id %}"><i class="fas fa-arrow-circle-right"></i> Next Document</a>
                    {% else %}
                        <a class="btn btn-default" disabled><i class="fas fa-arrow-circle-right"></i> Next Document</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}