{% extends 'base.html' %}

{% block content %}
    <div class="row subpage-header">
        <div class="col-md-12">
            <h1>
                <i class="fas fa-file-alt"></i>
                Document Overview
            </h1>
        </div>
    </div>
    <div class="row subpage-content">
        <div class="col-md-12">
            <h2>Document: {{ doc_title }}</h2>
            <p>
                <a class="btn btn-default" href="{% url 'alignment:change_alignment' doc_pair_id=doc_pair_id %}">Continue Alignment</a><br>
            </p>
            <form method="POST" class="alignment-form" action={% url 'alignment:change_alignment' doc_pair_id=doc_pair_id %}>{% csrf_token %}
                <table class="doc">
                    <thead>
                    <tr>
    {#                    <td class="doc">ID</td>#}
    {#                    <td>grammaticality</td>#}
    {#                    <td>meaning preservation</td>#}
    {#                    <td>simplicity</td>#}
    {#                    <td>certainty</td>#}
    {#                    <td>transformation</td>#}
    {#                    <td>domain</td>#}
                        <td class="doc">complex sentence</td>
                        <td class="doc">simple sentence</td>
                        <td class="doc">Rating</td>
                        <td class="doc">Transformation</td>
                        <td class="doc">Alignment</td>

                    </tr>
                    </thead>
                    <tbody>
                    {% for pair in alignments %}
                        <tr>
    {#                        <td class="doc">#}
    {#                            {{ pair.pair_identifier }}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {% for rate in pair.rating.all %}#}
    {#                                {% if rate.rater == user and rate.rater in pair.annotator.all %}#}
    {#                                    {{ rate.grammaticality_simple }}#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {% for rate in pair.rating.all %}#}
    {#                                {% if rate.rater == user and rate.rater in pair.annotator.all %}#}
    {#                                    {{ rate.meaning_preservation }}#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {% for rate in pair.rating.all %}#}
    {#                                {% if rate.rater == user and rate.rater in pair.annotator.all %}#}
    {#                                    {{ rate.simplicity }}#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {% for rate in pair.rating.all %}#}
    {#                                {% if rate.rater == user and rate.rater in pair.annotator.all %}#}
    {#                                    {{ rate.certainty }}#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {% for transformation in pair.transformation_of_pair.all %}#}
    {#                                {% if transformation.rater == user and transformation.rater in pair.annotator.all %}#}
    {#                                    {{ transformation.transformation }},#}
    {#                                {% endif %}#}
    {#                            {% endfor %}#}
    {#                        </td>#}
    {#                        <td>#}
    {#                            {{ domain }}#}
    {#                        </td>#}
                            <td class="doc">
                                {% for sentence in pair.complex_elements.all %}
                                    {{ sentence.original_content|slice:50 }}
                                    {% if sentence.original_content|length > 50 %}
                                        ...
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="doc">
                                {% for sentence in pair.simple_elements.all %}
                                    {{ sentence.original_content|slice:50 }}
                                    {% if sentence.original_content|length > 50 %}
                                        [...]
                                    {% endif %}
                                {% endfor %}
                            </td>

                            <td class="doc">
                                {% if pair.rating.all %}
                                    <a href="{% url 'rating:rate_pair' doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                        <i class="fas fa-edit"></i> edit
                                    </a>
                                {% else %}
                                    <a href="{% url 'rating:rate_pair' doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                        <i class="fas fa-plus-circle"></i> add
                                    </a>
                                {% endif %}
                            </td>
                            <td class="doc">
                                {% if pair.transformation_of_pair.all %}
                                    <a href="{% url 'rating:select_transformation' doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                        <i class="fas fa-edit"></i> edit
                                    </a>
                                {% else %}
                                    <a href="{% url 'rating:select_transformation' doc_pair_id=doc_pair_id pair_id=pair.id %}" class="btn btn-default">
                                        <i class="fas fa-plus-circle"></i> add
                                    </a>
                                {% endif %}
                            </td>
                            <td class="doc">
                                <button class="btn btn-default" title="edit alignment of pair" type="submit" name="edit" value="{{ pair.id }}"><i class="fas fa-edit"></i> edit </button>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </form>
            {% if alignments.has_other_pages %}
                <ul class="pagination">
                    {% if alignments.has_previous and alignments.previous_page_number != 0 %}
                        <li><a href="?page=1" title="first page"><i class="fas fa-fast-backward"></i></a></li>
                    {% else %}
                        <li class="disabled"><span><i class="fas fa-fast-backward"></i></span></li>
                    {% endif %}
                    {% if alignments.has_previous %}
                        <li><a href="?page={{ alignments.previous_page_number }}" title="previous page">
                            <i class="fas fa-backward"></i>
                        </a></li>
                    {% else %}
                        <li class="disabled"><span><i class="fas fa-backward"></i></span></li>
                    {% endif %}
                    {% for i in alignments.paginator.page_range %}
                        <!--{% if forloop.counter < i|add:3 and forloop.counter < i|add:"-3" %}-->
                            {% if alignments.number == i %}
                                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                            {% else %}
                                <li><a href="?page={{ i }}" title="page {{ i }}">{{ i }}</a></li>
                            {% endif %}
                            <!--{% endif %}-->
                    {% endfor %}
                    {% if alignments.has_next %}
                        <li><a href="?page={{ alignments.next_page_number }}" title="next page">
                            <i class="fas fa-forward"></i>
                        </a></li>
                    {% else %}
                        <li class="disabled"><span><i class="fas fa-forward"></i></span></li>
                    {% endif %}
                    {% if alignments.has_next and alignments.paginator.num_pages != alignments.next_page_number %}
                        <li><a href="?page={{ alignments.paginator.num_pages }}" title="last page">
                            <i class="fas fa-fast-forward"></i>
                        </a></li>
                        {% else %}
                        <li class="disabled"><span><i class="fas fa-fast-forward"></i></span></li>
                    {% endif %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}