{% extends '../base.html' %}

{% block content %}
    <h1>Alignment Pairs Overview</h1>
    <div class="row">
        <div class="col-md-12">
        {% if error %}
            <p> {{ error }} </p>
        {% endif %}
        {% if success %}
            <p> {{ success }} </p>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table border=1>
                <thead>
                    <tr>
                        <td>ID</td>
                        <td>grammaticality</td>
                        <td>meaning preservation</td>
                        <td>simplicity</td>
                        <td>certainty</td>
                        <td>transaction</td>
                        <td>domain</td>
                        <td>simple sentence</td>
                        <td>complex sentence</td>
                        <td></td>
                        <td></td>

                    </tr>
                </thead>
                <tbody>
                    {% for pair in pairs %}

                            <tr>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {{ pair.pair_identifier }}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.grammaticality }}
                                            {% endif %}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.meaning_preservation }}
                                            {% endif %}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.simplicity }}
                                            {% endif %}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.certainty }}
                                            {% endif %}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for rate in pair.rating.all %}
                                            {% if rate.rater == user and rate.rater in pair.annotator.all  %}
                                                {{ rate.transaction }}
                                            {% endif %}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {{ pair.domain }}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for sentence in pair.simple_element.all %}
                                            {{ sentence.original_content }}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <!--<a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}">-->
                                        {% for sentence in pair.complex_element.all %}
                                            {{ sentence.original_content }}
                                        {% endfor %}
                                    <!--</a>-->
                                </td>
                                <td>
                                    <a href="{% url 'rating:rate_pair' pair_identifier=pair.pair_identifier %}" class="btn btn-info">
                                        change rating
                                    </a>
                                </td>
                                <!--<td>
                                    <a href=" url 'alignment:change_alignment' pair_identifier=pair.pair_identifier %}" class="btn btn-info">
                                        change alignment
                                    </a>
                                </td>-->
                            </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}