{% extends '../base.html' %}

{% block content %}
{% load crispy_forms_tags %}
    <h2>Rate Alignment</h2>
    <div class="container">
        <div class="row">
            <div class="col-12">
                Please rate the following alignment pair.
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Simple Sentence:</b><br>
                {% for sentence in alignmentpair.simple_element.all %}
                    {{ sentence.original_content }}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <b>Complex Sentence:</b><br>
                {% for sentence in alignmentpair.complex_element.all %}
                    {{ sentence.original_content }}
                {% endfor %}
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <form method="POST" class="rating-form" action={% url 'rating:rate_pair' pair_identifier=alignmentpair.pair_identifier %}>{% csrf_token %}
                    {{ form.field.start }}
                    <div class="fieldWrapper">
                        <!--<table>
                            <thead>
                                <tr>
                                    <td></td><td></td>
                                </tr>
                            </thead>
                            <tbody>-->
                                {% for field in form.visible_fields %}
                                    <!--<tr>
                                        <td>-->
                                    {{ field.errors }}
                                        <!--</td>
                                        <td>-->
                                    <label title="{{ field.help_text }}" for="{{ field.id }}">&#9432;</label>
                                    {{ field.label_tag }}
                                    {{ field }}{{ field.data.value|default_if_none:"" }}
                                    <br>
                                        <!--</td>
                                    </tr>-->
                                {% endfor %}

                            <!--</tbody>
                        </table>-->
                        <button type="submit" class="save btn btn-default">Save</button>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}