{% extends '../base.html' %}
{% block title %}Transformation of #{{ alignmentpair.id }}{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
    <h2>Choose all Transformations of the Alignment Pair #{{ alignmentpair.id }}</h2>
    <div class="container">

        <form method="POST" class="transformation-form" action={% url 'rating:select_transformation' pair_id=alignmentpair.id %}>{% csrf_token %}
            <p class="error_form">
                {{ form.errors }}
            </p>
            <div class="row">
                <blockquote>
                    {% for sentence in alignmentpair.complex_element.all %}
                        {% if type == "show" %}
                            {{ sentence.original_content }}
                        {% elif type == "add" %}
                            <div class="form-check list-inline list-group-horizontal btn-group" role="group" data-toggle="buttons">
                                {% for token in sentence.tokens.all %}
                                    <label for="complex_token_{{ token.id }}" class="btn btn-default"><input type="checkbox" name="complex_token"  value="{{ token.id }}" id="complex_token_{{ token.id }}" class="form-check list-group-item" >{{ token.text }}</label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </blockquote>
                <b>Simple Sentence:</b><br>
                <blockquote>
                    {% for sentence in alignmentpair.simple_element.all %}
                        {% if type == "show" %}
                            {{ sentence.original_content }}
                        {% elif type == "add" %}
                            <div class="form-check list-inline list-group-horizontal btn-group" role="group" data-toggle="buttons">
                                {% for token in sentence.tokens.all %}
                                    <label for="complex_token_{{ token.id }}" class="btn btn-default"><input type="checkbox" name="simple_token"  value="{{ token.id }}" id="simple_token_{{ token.id }}" class="form-check list-group-item" >{{ token.text }}</label>
                                {% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                </blockquote>
            </div>
            {% if type == "add" %}
                <p>Select the level of the transformation and afterwards the type of transformation.
                    If the subtype of the transformation is obvious, please select it as well.
                </p>
                {% for trans_level, transformation_list in transformation_dict.items %}
                    <div class="row">
                    {{ trans_level }}
                        <label for="transformation_{{ trans_level }}" class="btn btn-default collapsible"><input type="radio" value="{{ trans_level }}" id="transformation_{{ trans_level }}" name="level"> {{ trans_level|capfirst }}</label>
{#                        <button type="button" class="collapsible" value="{{ trans_level }}"><input type="radio" name="level" id="transformation_{{ trans_level }}"> <label for="transformation_{{ trans_level }}"> {{ trans_level|capfirst }}</label></button>#}
                        <div class="collapsible_content" style="display: none">
                            {% for trans, subtransformation_list in transformation_list.items %}
{#                            <label title="{{ form.transaction.help_text }}" for="{{ form.transaction.id }}">&#9432;</label>#}
                                <label for="transformation_{{ trans_level }}_{{ trans }}" class="btn btn-default collapsible"><input type="radio" value="{{ trans_level }}_{{ trans }}" id="transformation_{{ trans_level }}_{{ trans }}" name="transformation"> {{ trans }}</label>

                                <div class="collapsible_subcontent" style="display: none">
                                {% for subtrans in subtransformation_list %}
                                    {% if subtrans == "other" %}
                                        <label for="transformation_{{ trans_level }}_{{ trans }}_{{ subtrans }}" class="btn btn-default"><input type="radio" value="{{ trans_level }}_{{ trans }}_{{ subtrans }}" id="transformation_{{ trans_level }}_{{ trans }}_{{ subtrans }}" name="subtransformation"> {{ subtrans }} <input type="text" maxlength="100" id="transformation_{{ trans_level }}_{{ trans }}_{{ subtrans }}_freetext" name="transformation_text"></label>
                                    {% else %}
                                        <label for="transformation_{{ trans_level }}_{{ trans }}_{{ subtrans }}" class="btn btn-default"><input type="radio" value="{{ trans_level }}_{{ trans }}_{{ subtrans }}" id="transformation_{{ trans_level }}_{{ trans }}_{{ subtrans }}" name="subtransformation"> {{ subtrans }}</label>
                                    {% endif %}
                                {% endfor %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endfor %}


{#                    <button type="button" class="collapsible" value="word"><input type="checkbox" name="level" id="transformation_word"> <label for="transformation_word">Word</label></button>#}
{#                        <div class="collapsible_content" style="display: none">#}
{#                            <label title="{{ form.transaction.help_text }}" for="{{ form.transaction.id }}">&#9432;</label>#}
{#                            <label for="transformation_word_lexical-substitution" class="btn btn-default "><input type="checkbox" value="word_deletion" id="transformation_word_lexical-substitution" name="transformation"> lexical-substitution</label>#}
{#                            <label for="transformation_word_insert" class="btn btn-default "><input type="checkbox" value="word_deletion" id="transformation_word_insert" name="transformation"> insert</label>#}
{#                            <label for="transformation_word_deletion" class="btn btn-default "><input type="checkbox" value="word_deletion" id="transformation_word_deletion" name="transformation"> deletion</label>#}
{##}
{#                        </div>#}
{#                    <button type="button" class="collapsible" value="phrase">Phrase or Clause</button>#}
{#                        <div class="collapsible_content" style="display: none">#}
{#                            <label for="transformation_phrase_reorder" class="btn btn-default "><input type="checkbox" value="phrase_reoder" id="transformation_phrase_reorder-substitution" name="transformation"> reorder</label>#}
{#                            <button type="button" name="transformation" value="phrase_reoder">reorder</button>#}
{#                            <button type="button" name="transformation" value="phrase_insert">insert</button>#}
{#                            <button type="button" name="transformation" value="phrase_rephrasing">rephrasing</button>#}
{#                            <button type="button" name="transformation" value="phrase_deletion">deletion</button>#}
{#                        </div>#}
{#                    <button type="button" class="collapsible" value="sentence">Sentence</button>#}
{#                        <div class="collapsible_content" style="display: none">#}
{#                            <button type="button" name="transformation" value="sentence_verbal_changes">verbal changes</button>#}
{#                            <button type="button" name="transformation" value="sentence_split">split</button>#}
{#                            <button type="button" name="transformation" value="sentence_lexical_substitution">lexical substitution</button>#}
{#                            <button type="button" name="transformation" value="sentence_reorder">reorder</button>#}
{#                            <button type="button" name="transformation" value="sentence_rephrasing">rephrasing</button>#}
{#                        </div>#}
{#                    <label title="{{ form.transaction.help_text }}" for="{{ form.transaction.id }}">&#9432;</label>#}




            {% endif %}
            <div class="row">
                <hr style="width:100%;text-align:left;margin-left:0">
                <b>List of annotated transactions:</b>
                <ul>
                {% for transaction in alignmentpair.transformation_of_pair.all %}
                    <li>
                        {{ transaction }}
{#                        <button class="btn btn-default" title="edit transformation" type="submit" name="edit" value="{{ transaction.id }}"><i class="fas fa-edit"></i> Edit</button>#}
                        <button class="btn btn-default" title="delete transformation" type="submit" name="delete" value="{{ transaction.id }}"><i class="fas fa-trash-alt"></i> Delete</button>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="row">
                <label title="{{ form.certainty.help_text }}" for="{{ form.certainty.id }}">&#9432;</label>
                {{ form.certainty.label_tag }}
                {{ form.certainty }}{{ form.certainty.data.value|default_if_none:"" }}
                <br><br>

                <label title="{{ form.comment.help_text }}" for="{{ form.comment.id }}">&#9432;</label>
                {{ form.comment.label_tag }}
                {{ form.comment }}{{ form.comment.data.value|default_if_none:"" }}
            </div>
            <div class="row">
            {% if type == "add" %}
                <button class="btn btn-default" title="reset current annotation" type="submit" name="reset" value="reset"><i class="fas fa-undo-alt"></i> Reset</button>
                <button class="btn btn-default" title="save annotation" type="submit" name="save" value="save"><i class="fas fa-save"></i> Save</button>
            {% else %}

                <button class="btn btn-default" title="add new transformation" type="submit" name="add" value="new"><i class="fas fa-plus-circle"></i> Add</button>
{#                <button class="btn btn-default" title="reset and align next pair" type="submit" name="skip" value="skip"><i class="fas fa-forward"></i> Skip</button>#}
                <button class="btn btn-default" title="save and rate pair" type="submit" name="rate" value="rate"><i class="fas fa-balance-scale-left"></i> Rate</button>
{#               rating: <i class="fas fa-star-half-alt"></i> <i class="fas fa-spell-check"></i>#}

                {% endif %}

            </div>


        </form>
    </div>
    <script>
        var coll = document.getElementsByClassName("collapsible");
        var i;

        for (i = 0; i < coll.length; i++) {
          coll[i].addEventListener("click", function() {
            this.classList.toggle("active");
            var content = this.nextElementSibling;
            if (content.style.display === "block") {
              content.style.display = "none";
            } else {
              content.style.display = "block";
            }
          });
        }
    </script>
    {% endblock %}


{# icon for#}
{#    split: <i class="fas fa-cut"></i>#}
{#    insert: <i class="fas fa-plus"></i>#}
{#    deletion: <i class="fas fa-backspace"></i> <i class="fas fa-eraser"></i>#}
{#    reorder: <i class="fas fa-random"></i>#}
{#    no operation: <i class="far fa-object-ungroup"></i>#}
{#    merge: <i class="fas fa-project-diagram"></i>#}
{#    rephrase: <i class="fas fa-quote-right"></i>#}
{#    verbal changes:#}
{#    lexical substitution:#}
{##}
{#    paragraph: <i class="fas fa-paragraph"></i>#}
{#    sentence:#}
{#    clause:#}
{#    word:   "w"#}
